<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Movie_omdb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <Movie_omdb.Properties.Settings>
            <setting name="customColor" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="foreColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="barColor" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="backColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="listColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="styles" serializeAs="String">
                <value>default;DarkOrange,Black,DimGray,DarkGray,Silver-amazon;#FEBD69,Black,#232F3F,#EAEDED,White-uci;#FFD900,Black,#00244D,#001C38,#003B7A-netflix;#B9090B,Black,Black,#1C1C1C,#252525-imdb;#F5C518,Black,#121212,Black,#101010-style1;#95A5AE,White,#517A94,#333333,#272727-rai;#29A2FF,Black,#000099,White,White</value>
            </setting>
        </Movie_omdb.Properties.Settings>
    </userSettings>
</configuration>
